
.title {
    margin-left: 20px;
    color: seagreen;
    font-weight: 500;
}

.people {
    display: flex;
    width: 19%;
    justify-content: space-between;
    margin-left: 20px;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}
