.title {
    margin-left: 20px;
    color: seagreen;
    font-weight: 500;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
    width: 200px;
    height: 150px;
}

.firstRange {
    display: flex;
    gap: 5%;
    align-items: center;
}


.secondRange {
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: flex-start;
    width: 400px;
    margin-left: 135px;
}
