.title {
    margin-left: 20px;
    color: seagreen;
    font-weight: 500;
}

.common {
    height: 300px;
}
.select{
    margin: 20px 0 0 20px;
}

.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}