.title {
    margin-left: 20px;
    color: seagreen;
    font-weight: 500;
}

.body {
    /*margin-left: 20px;*/
}

.dataAndButton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 110px;
}

.data {
    margin-left: 20px;
}
