.diveButtonFilter {
    margin: 20px 0 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 230px;
}

.buttonFilter {
    margin-left: 10px;
}

.listDivBody {
    height: 100px;
}

.divBody {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    width: 220px;
}

.divBody .name {
    width: 100px;
}

.low {
    width: 100px;
    margin-left: 10px;
    font-weight: bolder;
    color: #26ff07;
}
.high {
    width: 100px;
    margin-left: 10px;
    font-weight: bolder;
    color: #ff000c;
}

.middle {
    width: 100px;
    margin-left: 10px;
    font-weight: bolder;
    color: #ffac01;
}
/*да, дублирование кода, позже буду изучать css*/

.divBody button {
    margin-left: 10px;
}