.diveButtonFilter {
    margin: 20px 0 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 230px;

}

.buttonFilter {
    margin-left: 10px;
}

.listDivBody {
    height: 100px;
}

.divBody {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    width: 220px;
}

.divBody .name {
    width: 100px;
}

.props .props2{
    width: 100px;
    margin-left: 10px;
}




.divBody button {
    margin-left: 10px;
}