.blue {
    box-shadow: 0px 0px 5px 1px rgba(35, 77, 17, 0.8) inset, 5px 5px 5px rgb(0 0 0 / 25%);
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testSpanError {
    margin: 10px 30px;
    font-weight: 900;
    color: #333333;
    color: rgba(255, 0, 12, 0.73);
    /*opacity: 80%;*/
}

.title {
    margin-left: 20px;
    margin-bottom: 15px;
    color: seagreen;
    font-weight: 500;
}
