
.default {
    margin-left: 10px;
    padding: 0.5em 2em;
    text-decoration: none;
    cursor: pointer;
    color: #333333;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 5px rgb(0 0 0 / 25%);
    border-radius: 5px;
    width: 80px;
    height: 40px;
}

.default:hover {
    border-color: #3cffe4;
}

.default:active {
    border-color: #3cffe4;
    box-shadow: 5px 5px 5px rgb(60, 255, 228);
}
.red {
    background: red;
    padding: 0.5em 2em;
    text-decoration: none;
    cursor: pointer;
    color: #333333;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 5px rgb(0 0 0 / 25%);
    border-radius: 5px;
    width: 80px;
    height: 40px;
}